.escaner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
    background-color: rgba(94, 238, 166, 0.809);
    border-radius: 8px;
    box-sizing: border-box;
}